In [2]:
import numpy as np
import pandas as pd


import json
import requests
from pprint import pprint

In [3]:
file_path = "Resources/Chicago_Health_Youth_activity.csv"
youth_activity_df= pd.read_csv(file_path)
youth_activity_df

,Layer,Name,GEOID,YRPA_2019,YRPA_2017,YRPA_2013,YRPA_2011,YRPA_2009,YRPA_2007,YRPA_2005,YRPAP_2019,YRPAP_2017,YRPAP_2013,YRPAP_2011,YRPAP_2009,YRPAP_2007,YRPAP_2005,YRPA-M_2019
0,NaN,NaN,NaN,"Youth physical activity (count of students), 2019","Youth physical activity (count of students), 2017","Youth physical activity (count of students), 2013","Youth physical activity (count of students), 2011","Youth physical activity (count of students), 2009","Youth physical activity (count of students), 2007","Youth physical activity (count of students), 2005","Youth physical activity rate (% of students), ...","Youth physical activity rate (% of students), ...","Youth physical activity rate (% of students), ...","Youth physical activity rate (% of students), ...","Youth physical activity rate (% of students), ...","Youth physical activity rate (% of students), ...","Youth physical activity rate (% of students), ...","Youth physical activity, Males (count of stude..."
1,City,"Chicago, IL",1714000.0,10000.0,11400.0,14900.0,14100.0,15500.0,13100.0,10300.0,15.0,17.2,19.6,18.2,17.5,16.4,12.5,5700.0
2,City,"Chicago, IL",1714000.0,10000.0,11400.0,14900.0,14100.0,15500.0,13100.0,10300.0,15.0,17.2,19.6,18.2,17.5,16.4,12.5,5700.0

In [4]:
file_path2 = "Resources/Chicago_Health_Atlas_youth_diet.csv"
youth_diet_df= pd.read_csv(file_path2)
youth_diet_df

,Layer,Name,GEOID,YRFV_2019,YRFV_2017,YRFV_2013,YRFV_2011,YRFV_2009,YRFV_2007,YRFV_2005,...,YRFV_2001,YRFVP_2019,YRFVP_2017,YRFVP_2013,YRFVP_2011,YRFVP_2009,YRFVP_2007,YRFVP_2005,YRFVP_2003,YRFVP_2001
0,NaN,NaN,NaN,Youth fruit and vegetable servings (count of s...,Youth fruit and vegetable servings (count of s...,Youth fruit and vegetable servings (count of s...,Youth fruit and vegetable servings (count of s...,Youth fruit and vegetable servings (count of s...,Youth fruit and vegetable servings (count of s...,Youth fruit and vegetable servings (count of s...,...,Youth fruit and vegetable servings (count of s...,Youth fruit and vegetable servings rate (% of ...,Youth fruit and vegetable servings rate (% of ...,Youth fruit and vegetable servings rate (% of ...,Youth fruit and vegetable servings rate (% of ...,Youth fruit and vegetable servings rate (% of ...,Youth fruit and vegetable servings rate (% of ...,Youth fruit and vegetable servings rate (% of ...,Youth fruit and vegetable servings rate (% of ...,Youth fruit and vegetable servings rate (% of ...
1,City,"Chicago, IL",1714000.0,10600.0,11900.0,13600.0,16300.0,19700.0,16000.0,18200.0,...,26900.0,16.2,18.1,18.3,21.6,22.6,20.4,22.1,17.7,29.5
2,City,"Chicago, IL",1714000.0,10600.0,11900.0,13600.0,16300.0,19700.0,16000.0,18200.0,...,26900.0,16.2,18.1,18.3,21.6,22.6,20.4,22.1,17.7,29.5

In [5]:

file_path3 = "Resources/Chicago_Health_Atlas_youth_drinking.csv"
youth_drinking_df= pd.read_csv(file_path3)
youth_drinking_df

,Layer,Name,GEOID,YRBD_2019,YRBD_2017,YRBDP_2019,YRBDP_2017
0,NaN,NaN,NaN,"Youth binge drinking (count of students), 2019","Youth binge drinking (count of students), 2017","Youth binge drinking rate (% of students), 2019","Youth binge drinking rate (% of students), 2017"
1,City,"Chicago, IL",1714000.0,5000.0,5900.0,8.0,9.1
2,City,"Chicago, IL",1714000.0,5000.0,5900.0,8.0,9.1

In [7]:

file_path4 = "Resources/Chicago_Health_Atlas_opiate_misuse.csv"
opiate_misuse_df= pd.read_csv(file_path4)
opiate_misuse_df

,Layer,Name,GEOID,HCSOP_2020-2021,HCSOPP_2020-2021
0,NaN,NaN,NaN,"Prescription opiate misuse (count of adults), ...","Prescription opiate misuse rate (% of adults),..."
1,Community area,Rogers Park,1.0,1900.0,4.4232389536
2,Community area,West Town,24.0,1900.0,2.7311818652
3,Community area,Uptown,3.0,1600.0,3.5060364082
4,Community area,Chatham,44.0,1100.0,4.3179203983
5,Community area,Brighton Park,58.0,5200.0,13.415020344
6,Community area,Lake View,6.0,800.0,0.9268238067
7,Community area,Englewood,68.0,500.0,2.5386950864
8,Community area,Lincoln Park,7.0,1700.0,2.9174861589
9,Community area,Edgewater,77.0,1100.0,2.0828959464
10,Community area,Near North Side,8.0,600.0,0.7553315314