In [19]:
import numpy as np
import pandas as pd


import json
import requests
from pprint import pprint

import matplotlib.pyplot as plt

In [2]:
option_a_url = "https://chicagohealthatlas.org/api/v1/data?topic=YRSUP&population=&period=2013,2017,2019"
YRSUP_data = requests.get(option_a_url).json()
pprint(YRSUP_data)

{'count': 3,
 'params': {'period': '2013,2017,2019', 'population': '', 'topic': 'YRSUP'},
 'results': [{'a': 'YRSUP',
              'd': '2013',
              'g': '1714000',
              'l': 'place',
              'p': '',
              'se': 0.408163265,
              'v': 3.5},
             {'a': 'YRSUP',
              'd': '2017',
              'g': '1714000',
              'l': 'place',
              'p': '',
              'se': 0.841836735,
              'v': 5.1},
             {'a': 'YRSUP',
              'd': '2019',
              'g': '1714000',
              'l': 'place',
              'p': '',
              'se': 0.586734694,
              'v': 3.4}],
 'time': '34.02 ms'}

In [12]:
file_path = "Resources/Chicago_Health_Atlas_Data_Download.csv"
df= pd.read_csv(file_path)
df

,Layer,Name,GEOID,YRSU_2019,YRSU_2013,YRSU_2017
0,NaN,NaN,NaN,"Youth suicide attempts (count of students), 2019","Youth suicide attempts (count of students), 2013","Youth suicide attempts (count of students), 2017"
1,City,"Chicago, IL",1714000.0,2000.0,2300.0,2900.0
2,City,"Chicago, IL",1714000.0,2000.0,2300.0,2900.0

In [13]:
df = df.iloc[1: , :]
df

  Layer         Name      GEOID YRSU_2019 YRSU_2013 YRSU_2017
1  City  Chicago, IL  1714000.0    2000.0    2300.0    2900.0
2  City  Chicago, IL  1714000.0    2000.0    2300.0    2900.0

In [17]:
#df_organized = df.rename(index = {"Layer": "Layer",
          #        "Name": "City Name",
           #       "GEOID": "GEOID",
            #      "YRSU_2019": "Year 2019",
             #     "YRSU_2013": "Year 2013",
              #    "YRSU_2017": "Year 2017"},
               #              inplace = True)
#df_organized

In [18]:
file_path = "Resources/Chicago_Health_Uninsured.csv"
vacant_df= pd.read_csv(file_path)
vacant_df

,Layer,Name,GEOID,Population,Longitude,Latitude,UNI_2016-2020,UNI_2015-2019,UNI_2014-2018,UNI_2013-2017,UNI_2012-2016,UNI_2011-2015,UNI_2010-2014,UNI_2009-2013,UNI_2008-2012
0,(Indicator name),NaN,NaN,NaN,NaN,NaN,"Uninsured residents (residents), 2016-2020","Uninsured residents (residents), 2015-2019","Uninsured residents (residents), 2014-2018","Uninsured residents (residents), 2013-2017","Uninsured residents (residents), 2012-2016","Uninsured residents (residents), 2011-2015","Uninsured residents (residents), 2010-2014","Uninsured residents (residents), 2009-2013","Uninsured residents (residents), 2008-2012"
1,(Definition),NaN,NaN,NaN,NaN,NaN,Number of residents without health insurance.,Number of residents without health insurance.,Number of residents without health insurance.,Number of residents without health insurance.,Number of residents without health insurance.,Number of residents without health insurance.,Number of residents without health insurance.,Number of residents without health insurance.,Number of residents without health insurance.
2,(Citation),NaN,NaN,NaN,NaN,NaN,American Community Survey (Tables B27001/C27001),American Community Survey (Tables B27001/C27001),American Community Survey (Tables B27001/C27001),American Community Survey (Tables B27001/C27001),American Community Survey (Tables B27001/C27001),American Community Survey (Tables B27001/C27001),American Community Survey (Tables B27001/C27001),American Community Survey (Tables B27001/C27001),American Community Survey (Tables B27001/C27001)
3,---,---,---,---,---,---,---,---,---,---,---,---,---,---,---
4,Community area,Rogers Park,1,52772,-87.67017100,42.00963000,6728.96231700377,6750.236465,7019.042543,7892.940503,9017.225293,10693.396992,12014.024791,13652.008323,13850.762967
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76,Community area,Morgan Park,75,21714,-87.66906200,41.68972900,1351.20042751723,1152.789603,1442.933998,1642.007243,1837.642559,2227.594541,2755.998087,2571.710696,2606.665356
77,Community area,O'Hare,76,14416,-87.89369900,41.97569600,2228.0545840774,2544.75554,2515.944198,2650.004955,2758.621424,2920.317553,3472.701988,4027.366144,3855.659816
78,Community area,Edgewater,77,47343,-87.66341900,41.98671900,4462.10777866222,3586.281051,4212.115715,5410.423099,6357.824814,6807.321304,7971.314021,8920.446752,9083.486561
79,Community area,Near North Side,8,95467,-87.63331800,41.89961100,2046.88216974766,2114.335701,2304.657676,3076.475208,3837.155792,4122.60728,4940.198498,5324.876439,5493.761702
80,Community area,Edison Park,9,11521,-87.81378000,42.00762700,140.954713233674,269.877394,301.93094,465.716491,486.639882,790.395211,836.45801,940.337376,890.482393

In [4]:
file_path = "Resources/Chicago_Health_Vacant.csv"
vacant_df= pd.read_csv(file_path)
vacant_df

,Layer,Name,GEOID,Population,Longitude,Latitude,VAC_2016-2020,VAC_2015-2019,VAC_2014-2018,VAC_2013-2017,VAC_2012-2016,VAC_2011-2015,VAC_2010-2014,VAC_2009-2013,VAC_2008-2012,VAC_2007-2011,VAC_2006-2010
0,(Indicator name),NaN,NaN,NaN,NaN,NaN,"Vacant (% of housing units), 2016-2020","Vacant (% of housing units), 2015-2019","Vacant (% of housing units), 2014-2018","Vacant (% of housing units), 2013-2017","Vacant (% of housing units), 2012-2016","Vacant (% of housing units), 2011-2015","Vacant (% of housing units), 2010-2014","Vacant (% of housing units), 2009-2013","Vacant (% of housing units), 2008-2012","Vacant (% of housing units), 2007-2011","Vacant (% of housing units), 2006-2010"
1,(Definition),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,(Citation),NaN,NaN,NaN,NaN,NaN,American Community Survey (Table B25002),American Community Survey (Table B25002),American Community Survey (Table B25002),American Community Survey (Table B25002),American Community Survey (Table B25002),American Community Survey (Table B25002),American Community Survey (Table B25002),American Community Survey (Table B25002),American Community Survey (Table B25002),American Community Survey (Table B25002),American Community Survey (Table B25002)
3,---,---,---,---,---,---,---,---,---,---,---,---,---,---,---,---,---
4,Community area,Rogers Park,1,52772,-87.67017100,42.00963000,9.59152157331094,10.6382482004574,12.6911620013845,13.2117622039359,12.3838398326114,13.8297141729273,14.5403766241934,13.2108675824328,13.7184164900733,13.8250336567351,16.0465795820981
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76,Community area,Morgan Park,75,21714,-87.66906200,41.68972900,8.64557835291671,10.2834612753944,10.511844006404,10.4376766650193,10.4621122272849,9.89671371095077,11.8474703810873,11.7443412000829,11.9626051636464,12.9122450220985,12.6695073814108
77,Community area,O'Hare,76,14416,-87.89369900,41.97569600,4.8768737339092,5.10215095380747,4.84573436270608,6.58983926956147,6.98096506357601,5.68235944599892,6.38817103286181,8.19095273256528,8.39747069231157,7.81260380652558,6.82097859400989
78,Community area,Edgewater,77,47343,-87.66341900,41.98671900,8.77841611029538,9.1925208102439,10.2067637733923,10.1803962621802,10.20020184864,10.6093749547342,9.66441093926004,10.2061724019655,9.47019987736691,8.65036395989613,9.13527762806301
79,Community area,Near North Side,8,95467,-87.63331800,41.89961100,14.7496904338101,13.5890301824373,13.9141772153258,13.1006454192086,12.4495927716579,13.5278999899642,13.8213163793817,13.2677961828177,15.647086335635,17.3747253606835,18.2635235264566
80,Community area,Edison Park,9,11521,-87.81378000,42.00762700,6.80605812185889,5.7135062258635,6.31822716998022,6.51328064251772,8.08215993233853,8.47941695601299,8.71447858666654,7.02505940691842,6.7983687213357,6.07951893764833,5.25167553867107